header {
    background-color: #7C5E99;
}

nav {
    text-align: right;
}

a {
    color: #000000;
    font-size: 20px;
    font-family: "Fira Code", Arial, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

#button {
    display: inline-block;
    background-color: #FFFDC9;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 0 black;
}