header {
    display: flex;
    justify-content: space-between;
    background-color: #7C5E99;
    border-bottom: 10px solid black;
    padding: 10px 20px;
}

nav {
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color: #000000;
    font-size: 20px;
    font-family: "Fira Code", Arial, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before {    /* :: = pseudo elemento */
    content: "" ;
    background-color: #FFFDC9;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

#button {
    display: inline-block;
    background-color: #FFFDC9;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 0 black;
    transition: all 0.2s;
}

#button:hover {
    transform: scale(1.1);
    background-color: black ;
    color: #FFFDC9;
}