.banner {
    box-sizing: border-box;
    background-image: url(../../assets/img/eat\ slep\ code.jpg);
    background-repeat: no-repeat;
    height: 800px;
    border-bottom: 10px solid black;
    padding-top: 100px;
    padding-left: 90px;
}

.banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 630px;
}

.banner .box {
    margin-bottom: 40px;
}

.banner .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
} 