.button-arrow {
    width: 50px;
    height: 50px;
    background-color: #FFFFDD;
    box-shadow: 5px 5px 0px #000000;
    cursor: pointer;
}

.button-arrow .content {
    display: none; 
}

.button-arrow::before {
    content: "";
    display: block;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    border: 20px solid transparent;
    border-left: 28px solid black;
    transform: translate(8px);
}

.button-arrow.-right::before {
    transform: rotate(180deg) translate(14px);
}