.main-box {

    display: inline-block;

    background-color: #7C5E99;

    box-shadow: 10px 10px 0 black;

    text-align: center;

    padding: 12px 44px;

}



.main-box .title {

    margin-bottom: 21px;

}