.main-title {

    font-family: "Press Start 2P", sans-serif;

    font-size: 40px;

    color: #FFFDC9;

    text-shadow: 4px 4px 0 black;

}



.main-title.-second {

    color: #000000;

    text-shadow: none;

    text-align: center;

}


.main-title.-third {
color: #fff;

text-shadow: none;

text-align: center;

}